.wrg-header {
    background-color: $color-primary;
    padding: 28px $spacer-0;
    z-index: 999;

    &__logo {
        width: 87px;
    }

    &__sticky-smooth {
        padding-top: 50px;
    }

    &.sticky {
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        animation: slide-down 0.3s linear forwards;
        -webkit-box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.1);
        @keyframes slide-down {
            0% {
                opacity: .5;
                transform: translateY(-100%);
            }
            100% { 
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
}